[Unit]
Description=__APP__ service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=cd __FINALPATH__ && __NODEJSPATH__/npm start >> /var/log/__APP__/__APP__.log 2>&1
Environment=PATH=/usr/bin:/usr/local/bin:__NODEJS_PATH__
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
